/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
exemplo: (cores RGB)
cor 1 = #FFFFFF (vermelho)
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
<<<<<PALETA DE CORES>>>>>>
cor 1 = rgb(245, 237, 217)  
cor 2 =
cor 3 =
cor 4 =
cor 5 = 
cor 6 =
cor 7 =
cor 8 =
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/
*{
    font-family: 'Bruno Ace SC', cursive;
}

body{
    /*background: linear-gradient(45deg,#FFF2CC,#FFD966,#F4B183,#DFA67B);
    animation: colors 10s ease infinite;
    background-size: 300% 300%;
    background-repeat: no-repeat;*/
    background-color:rgb(245, 237, 217);
    width: 100%;
    overflow-x: hidden;
}

header{
    position: relative;
    width: 100%;
    background-image: url(teste.jpg);
    height: 200px;
    top: 0;
}
.mobile-menu{
    display: none;
}
.navbar{
    position:sticky;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:#dfbf95ec;
    height: 55px;
    width: 100%;
    top: 145px;
    gap:150px;
}   

h1 {
    font-size: 30px;
    font-weight: bolder;
    text-shadow: 0 2px  4px whitesmoke;
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: auto;
    gap: 10%;
    font-size: 20px;
    padding-right: auto;
}

.selector-home{
    border-radius: 8px;
    position: relative;
    font-weight: bold;
    height: 25px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding-top: 5px;
    color: black;
    box-shadow: 0 0 10px 0px rgb(245, 237, 217);
    cursor: pointer;
    background-color: rgb(245, 237, 217);
}

.selector-home:after, 
.selector-home:before{
    border-radius: 8px;
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: transform .3s ease-in-out;
}

.selector-home:before{
    border-radius: 8px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    transform: scaleY(0);
}
.selector-home:after{
    border-radius: 8px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    transform: scaleX(0);
}
.selector-home:hover:before{
    border-radius: 8px;
    transform: scaleY(1);
}
.selector-home:hover:after{
    border-radius: 8px;
    transform: scaleX(1);
}

.subTitulo {
    display: grid;
    position: absolute;
    left: 150px;
    top: 250px;
}   
h2{
    font-size: 35px;
    font-weight: bold;
    text-shadow: rgb(245, 237, 217);
    opacity: 0;
    animation: fadeInText 0s 1.1s both;
}

#linha1 {
    margin-top: 20px;
}
#linha2{
    margin-top: 10px;
}
.text-block{
    position: relative;
    overflow: hidden;
}

.text-block:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(245, 237, 217);
    transform: translateX(-100%);
    animation: enLargeBlock 0.5s 0.6s both, revealBlock 2.6s 1.1s infinite;
}

@keyframes enLargeBlock{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

@keyframes revealBlock{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(100%);
    }
}
@keyframes fadeInText{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.parte1 {
    background: linear-gradient(rgb(245, 237, 217), white, white, white, white, white, white, white, white, white, white, white, white, white, white, white, white, white, rgb(245, 237, 217));
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    width: 100%;
    height: 400px;

}

.galeria{
    position: absolute;
    background: transparent;
    width: 100vw;
    height: 95%;
    top: 10px;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
    overflow-Y: auto;
    
   
}

.photo {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(26, 25, 25);
    margin-left: 10px;
    box-sizing: border-box;
}

.photo:hover{
    scale: 1.03;
    transition: 0.2s;
}

.parte2 {
    position: relative;
    display: flex;
    margin-top: 100px;
    width: 100%;
    height: 500px;
    gap: 1vw;
}


#leilocaimg{
    width: 400px;
    height: 400px;
    margin-left: 100px;
    object-fit: cover;
    box-shadow: -40px -60px rgba(240, 240, 240, 0.5);
    
}

.leilocatext{
    position: relative;
    width: 100%;
    font-size: 28px;
}

#textoParte3{
    margin-top: 10px;
    padding-bottom: 20px;
}

#textoParte4{
    font-size: 16px;
    margin-top: 20px;
    width: 80%;
}

.whats{
    position: fixed;
    bottom: 10px;
    right: 5vw; 
}


/*scroll bar edição*/
::-webkit-scrollbar{
    background-color: transparent;
    width: 12px;
  
}

::-webkit-scrollbar-thumb{
    background: transparent;
  
}

footer{
    background: linear-gradient(rgb(245, 237, 217), white,white);
    height: 110px;
    width: 100%;
    bottom: 0;
}

#logoIg{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-right: 300px;
    
}

#creditos {
    font-size: 15px;
    font-weight:lighter;
    padding-left: 10%;
}
@media (max-width: 1100px){

    .parte2{
        display: grid;
        width: 100vw;
    }
    
    .subTitulo {
        display: grid;
        position: absolute;
        left: 0;
        top: 250px;
    }   
    
    #leilocaimg{
        width: 100%;
        height: 500px;
        margin: 0;
        object-fit:contain;
        box-shadow: none;
    }
    footer{
        display: none;
        bottom: 0;
    }
    
    .galeria{
        width: 100%;
    }
    .leilocatext{
        display: grid;
    }
    }
    
    @media (max-width:804px){
        .navbar ul{
            display: none;
        }
        .galeria{
            display: flex;
            align-items: center;
    }
    #logoIg{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
        
    #leilocaimg{
        width: 80vw;
        height: 400px;
        margin-left: 100px;
        object-fit: cover;
        box-shadow: -60px -25px rgba(240, 240, 240, 0.5);
        
    }
    .parte2{
        width: 100vw;
    }
 
}

@media (max-width:550px){
    body{
        overflow-x: hidden;
    }
    header{
        width: 100%;
        right: 0;
    }

    #leilocaimg{
        width: 100%;
        box-shadow: none;
        margin: 0;
    }
    .leilocatext{
        font-size: 18px;
    }
    .div-img, .leilocatext, #tituloParte3 ,#textoParte3, #textoParte4{
        width: 100vw;
    }
    .whats{
        left: 170px;
    }
    .galeria{
         display: flex;
        object-fit: cover;
        }
    .photo{
        width: 100%;
        height: 100%;
        margin-left: 5px;
        gap: 5px;
    }
    #logoIg{
        position: relative;
        padding: 0;
        font-size: 15px;
        justify-content: left;
    }
    .whats{
        margin: 0;
    }
}
@media (max-width:550px){
    body{
        overflow-x: hidden;
    }
    header{
        width: 100%;
        right: 0;
    }
    h1{
        font-size: 22px;
    }
    .subTitulo{
        top: 220px;
    }
    h2{
        font-size: 22px;
    }
    #linha1{
        font-size: 12px;
    }
    #linha2{
        font-size: 12px;
    }
    #leilocaimg{
        width: 100%;
        box-shadow: none;
        margin: 0;
    }
    .leilocatext{
        font-size: 16px;
    }
    .div-img, .leilocatext, #tituloParte3 ,#textoParte3, #textoParte4{
        width: 100vw;
    }
    .whats{
        left: 150px;
    }
    .galeria{
         display: flex;
        object-fit: cover;
        }
    .photo{
        width: 100%;
        height: 100%;
        margin-left: 5px;
        gap: 5px;
    }
    #logoIg{
        position: relative;
        padding: 0;
        font-size: 15px;
        justify-content: left;
    }
    .whats{
        margin: 0;
    }
}